[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
opencv-python = "*"
buddy-config = "*"
webargs = "*"
flask-jwt-extended = "*"
marshmallow = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-httpauth = "*"
flask-login = "*"
python-dotenv = "*"
# tensorflow = "*"

[requires]
python_full_version = "3.9.1"
